.torso {
  width: 200px;
  height: 400px;
  background-color: #ebebeb;
  border-radius: 10px;
  position: relative;
}

.head {
  width: 100px;
  height: 100px;
  background-color: #f2f2f2;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 50px;
}

.neck {
  width: 40px;
  height: 50px;
  background-color: #ebebeb;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 80px;
}

.body {
  width: 140px;
  height: 300px;
  background-color: #ebebeb;
  position: absolute;
  top: 100px;
  left: 30px;
}

.arm {
  width: 60px;
  height: 220px;
  background-color: #ebebeb;
  position: absolute;
  top: 120px;
  border-radius: 10px;
}

.left-arm {
  left: -70px;
  transform: rotate(-45deg);
  transform-origin: top left;
}

.right-arm {
  right: -70px;
  transform: rotate(45deg);
  transform-origin: top right;
}

.leg {
  width: 40px;
  height: 200px;
  background-color: #ebebeb;
  position: absolute;
  bottom: -200px;
  border-radius: 10px;
}

.left-leg {
  left: 50px;
}

.right-leg {
  right: 50px;
}



#wrap {
  width: 750px;
  height: 1500px;
  padding: 0;
  overflow: hidden;
}

#scaled-frame {
  width: 1000px;
  height: 2000px;
  border: 0px;
}

#scaled-frame {
  zoom: 0.75;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #scaled-frame {
    zoom: 1;
  }
}


.image-0{
  display: block;
  /*margin-left: -30px;*/
}

.image-1 {
  display: block;
  /*margin-left: -50px;*/
  margin-top: -7px;
}

.image-2 {
  display: block;
  /*margin-left: -50px;*/
}

.image-3 {
  display: block;
  /*margin-left: -50px;*/
}