.card{
    text-align: right;
}

.cardbody{
    text-align: center;
}

.buttonTable{
    margin: 20px;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
	background: transparent;
}

.auth-menu{
    background: #007E85;
}

@media only screen and (max-width: 768px) {
    .auth-menu {
        background: white !important;
    }

    .ant-modal-wrap {
        height: 80% !important;
        margin-top: -25% !important;
    }
}

.ant-layout-sider-children {
    background: #007E85 !important;
}

.ant-layout-sider-trigger {
    background: #007E85 !important;
}

.ant-layout-sider-has-trigger {
    background: #007E85 !important;
}

/*
.ant-layout.site-layout.custom {
    border-radius: 3%;
    z-index: 99999;
    background-color: #007E85 !important;
}
*/


